{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-sm-4">
                <div class="section-title">
                    <h2 class="title">Modifier le mot de passe</h2>
                </div>
                <label>Mot De Passe Actuel</label>
                <div class="form-group pass_show">
                    <input type="password" value="" class="form-control" placeholder="Current Password">
                </div>
                <label>Nouveau Mot De Passe</label>
                <div class="form-group pass_show">
                    <input type="password" value="" class="form-control" placeholder="New Password">
                </div>
                <label>Confirmer le Mot De Passe</label>
                <div class="form-group pass_show">
                    <input type="password" value="" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="col-md-12">
                    {{ form_row(form.submit, {'label': 'Enregistrer !', 'attr': {'class': 'primary-button'}}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
