{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
<<<<<<< HEAD

=======
>>>>>>> fb3156ed45a27728f034f384076405be44609394
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class=page-header>Accueil </h2>

                {#                {{form_start(form)}}#}
                {#                {{form_widget(form)}}#}
                {#                {{form_end(form)}}#}

            </div>
        </div>
    </div>
<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> fb3156ed45a27728f034f384076405be44609394
