{% extends '@EasyAdmin/default/layout.html.twig' %}

{%  block head_stylesheets %}

    {{ parent() }}
    <link rel="icon" type="image/png" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionic/1.3.2/css/ionic.css">

{%  endblock %}

{% block main %}

    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <p>Derniers ajouts</p>
                </div>
            </div>
            <div>
                <table class="table table-hover">

                </table>
            </div>
        </div>
    </div>
{% endblock %}
