{% extends 'base.html.twig' %}

{% block title %}Nouveau thème{% endblock %}

{% block content %}
    <h1>Ajouter un nouveau thème</h1>

    {{ include('theme/_form.html.twig') }}

    <a href="{{ path('theme_index') }}">Revenir à la liste</a>
{% endblock %}