{% extends 'base.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block content %}
    <h1>Ajouter un évènement/h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}">Retour à la liste</a>
{% endblock %}
