{% extends 'base.html.twig' %}

{% block title %}Toutes mes adresses{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="rowbarHeaderTitle align-items-center">
                    <h1 class="page-header d-flex justify-content-center">Mes adresses</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}